.image-container {
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    aspect-ratio: initial;
    -webkit-box-shadow: 0px 0px 13px 12px #000000;
    box-shadow: 0px 0px 13px 12px #000000;
}

.container--inner {
    /* max-width: 500px; */
    margin: auto;
}

.navigation,
.form-edit {
    font-size: var(--fs-500);
    padding: 20px;
}

/* Styling forms */
.container--inner {
    margin: auto;
}

.form-edit {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 3px #000000;
    box-shadow: 0px 0px 13px 3px #000000;
    text-align: left;

    input,
    textarea,
    select,
    button {
        padding: 10px;
        border-radius: 7px;
        font-size: var(--fs-400);
        margin-bottom: 10px;
    }

    p {
        font-style: oblique;
        font-weight: var(--fw-500);
        margin-bottom: 5px;
        color: red;
    }


    button {
        background-color: rgb(46, 53, 59);
        color: white;
        border: none;
        cursor: pointer;
        align-self: center;
        font-size: large;
    }

    #id_featured_image {
        font-size: medium;
        padding: 0;
    }
    h2 {
        text-align: center;
    }
}

.form-control {
    margin-inline: auto;
    /* max-width: 500px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* div > * {
        width: 100%;
    } */
}



.caption {
    max-width: 40ch;
    text-align: left;
}

.featured-image-profile {
    flex-grow: 0.1;
}


@media screen and (max-width: 550px) {
    .navigation-btn {
        font-size: var(--fs-500);
    }
    .navigation {
        align-self: center;
    }
    .form-edit {
        padding: 10px;
    }
    .container {
        padding: 10px;
    }
    .container-form-edit {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}