{% extends "base.html" %}
{% load static %}
{% load cloudinary %}


{% block title %}FanHub Playlist Manager{% endblock %}

{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'user_profile/css/playlist_update.css' %}" />
{% endblock extra_head %}

{% block main_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container flex">
    <section class="form-edit">
        <div class="playlist-title">
            <h4>Playlist Title:</h4>
            <p><strong>{{ playlist.title }}</strong></p>
        </div>
        <div class="playlist-banner">
            <h4>Playlist Image:</h4> 
            {% if playlist.featured_image %}  
                {% cloudinary playlist.featured_image %}
            {% else %}
                <p>No Image Uploaded</p>
                <p>If you decide to post this playlist without an image we will provide your post with a nice one</p>    
            {% endif %}
        </div>
        <div class="playlist-description">
            <h4>Playlist Description:</h4>
            <p>{{ playlist.description }}</p>
        </div>
        <div class="playlist-url">
            <h4>Playlist Reference:</h4> 
            {% if playlist.reference_url %}  
            <a href="{{ playlist.reference_url }}" target="_blank" rel="noopener noreferrer">{{ playlist.reference_url }}</a>
            {% else %}
                <p>No URL Uploaded</p>    
            {% endif %}
        </div>
    </section>
    <section class="list-items">
        <h2>Playlist Items</h2>
        <a href="#">Add Items to Your Playlist</a>
        <br>
        <p>OR</p>
        <br>
        <p>Click to Edit Your Playlist Items:</p>
        {% if playlist_items %}
        <ul>
            {% for item in playlist_items %}
                <li>
                    <a href="#">{{ item }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No Playlist Items Yet</p>
        {% endif %}
        <br>
        <a href="{% url 'profile' %}">Back to Your Profile Page</a>
    </section>
</div>

{% endblock %}