{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}FanHub Item Update{% endblock %}

{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'user_profile/css/playlist_update.css' %}" />
{% endblock extra_head %}

{% block main_content %}

<div class="container">
    <h2>Update Item in <span class="playlist-title">"{{ playlist.title }}"</span>"</h2>
    <div class="container--inner">
        <section class="form-edit">
            <form method="post" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                {% for field in form %}
                <div class="field-block">
                    <p>{{ field.errors }}</p>
                    <p>{{ field.label_tag }}</p> 
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="button btn-edit">Save Changes</button>
            </form>
        </section>
        <section class="navigation flex-column-left">
            <div>
                <a href="{% url 'playlist_created' playlist.id %}" class="navigation-btn back-dark color-red"><strong>Back to the Playlist View</strong></a>
            </div>
            <div>
                <a href="{% url 'profile' %}" class="navigation-btn back-dark color-red"><strong>Back to Your Profile Page</strong></a>
            </div>
            <div>
                <a href="{% url 'delete_playlist_item' playlist_id=playlist.id pk=item.id %}" class="navigation-btn back-red color-white">Delete Item</a>
            </div>
        </section>
    </div>
</div>
{% endblock %}