{% extends "base.html" %}
{% load static %}
{% load cloudinary %}


{% block title %}User Playlist Profile{% endblock %}

{% block extra_head %}
<!-- Custom CSS for user_profile application -->
<link rel="stylesheet" href="{% static 'user_profile/css/playlist_update.css' %}" />
{% endblock extra_head %}

{% block main_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container flex-start-center flex-1-1">
    <section class="flex-column-left">
        <h2>Playlist Image:</h2>
        <div class=" featured-image-profile image-container">
            {% if playlist.featured_image %}
            <img src="{{ playlist.featured_image.url }}" alt="'{{ playlist.title }}' featured image">
            {% else %}
            <img src="{% static 'images/default_featured_image.png' %}" alt="default image for the playlist">
            <div class="caption">
                <p>No Custom Image Was Uploaded!</p>
                <p>If you decide to share Your playlist, this nice default banner will be attached.</p>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="playlist-card flex-column-left flex-grow-1">
        <h2 class="hidden">Playlist Details:</h2>
        <div>
            <h3>Playlist Title:</h3>
            <p>{{ playlist.title }}</p>
        </div>
        <div>
            <h3>Playlist Description:</h3>
            {{ playlist.description | linebreaks }}
        </div>
        <div>
            <h3>Playlist Reference:</h3>
            {% if playlist.reference_url %}
            <a href="{{ playlist.reference_url }}" target="_blank" rel="noopener noreferrer"
                aria-label="'{{ playlist.title }}' featured link">{{ playlist.reference_url }}</a>
            {% else %}
            <p>No URL Uploaded</p>
            {% endif %}
        </div>
        <div>
            <h3>Playlist Status:</h3>
            <p>{{ playlist.get_status_display }}</p>
        </div>
    </section>
    <section class="navigation flex-column-stretch text-center">
        <h2 class="hidden">Navigation</h2>
        <div>
            <a href="{% url 'playlist_update' playlist.id %}" class="navigation-btn back-dark color-red width-100"
                aria-label="edit playlist details"><strong>Edit Playlist Details and Image</strong></a>
        </div>
        <div>
            <a href="{% url 'playlist_create' %}" class="navigation-btn back-dark color-red width-100"
                aria-label="create new playlist"><strong>Create New Playlist</strong></a>
        </div>
        <div>
            <a href="{% url 'playlist_manage' %}" class="navigation-btn back-dark color-red width-100"
                aria-label="back to the playlists"><strong>Back To Your Playlists</strong></a>
        </div>
        <div id="playlist-{{ playlist.id }}">
            <form method="post" action="{% url 'toggle_playlist_status' playlist.id %}">
                {% csrf_token %}
                <button type="submit" class="navigation-btn back-white color-red width-100">
                    {% if playlist.status == 1 %}
                    <strong>Remove playlist from FanHub</strong>
                    {% else %}
                    <strong>Share playlist with FanHub</strong>
                    {% endif %}
                </button>
            </form>
        </div>
        <div>
            <a href="{% url 'playlist_delete' playlist.id %}" class="navigation-btn back-red color-white width-100"
                aria-label="delete playlist"><strong>Delete Playlist</strong></a>
        </div>
    </section>
    <section class="playlist-card flex-column-left flex-grow-1">
        <h2>Playlist Items:</h2>
        <div>
            <a href="{% url 'add_playlist_item' playlist_id=playlist.id %}" class="navigation-btn"
                aria-label="add items to the playlist"><strong>Add Items to Your Playlist</strong></a>
        </div>
        <p>OR</p>
        <p>Click to Edit or Delete Your Playlist Items:</p>
        {% if playlist_items %}
        <ul>
            {% for item in playlist_items %}
            <li>
                <a href="{% url 'playlist_item_update' playlist_id=playlist.id pk=item.id %}"
                    aria-label="edit or delete playlist items">{{ item }} {{ item.get_performance_type_display }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No Playlist Items Yet</p>
        {% endif %}

    </section>
</div>

{% endblock %}