<section id="playlists" class="playlist-card">
    <h3>Manage Your Playlists,&nbsp;<span id="username">{{ user.username }}</span>!</h3>
    <ul>
        {% for playlist in playlists %}
        <li>
            <a href="{% url 'playlist_created' playlist.id %}">{{ playlist }}</a>
        </li>
        {% empty %}
        <li>No playlists found.</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'playlist_create' %}" class="navigation-btn"><strong>Create New Playlist</strong></a>
    </div>
</section>