{% extends "base.html" %}
{% load static %}
{% load cloudinary %}


{% block title %}FanHub Song Form{% endblock %}

{% block main_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h4>Playlist Title: {{ playlist.title }}</h4>
<div class="playlist-banner">
    {% if playlist.featured_image %}    
        {% cloudinary playlist.featured_image %}
    {% else %}
        <p>No Image Uploaded</p>
        <p>If you decide to post this playlist without an image we will provide your post with a nice one</p>    
    {% endif %}
</div>


{% endblock %}