{% extends "base.html" %}
{% load static %}

{% block title %}Playlist Delete{% endblock %}

{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'user_profile/css/playlist_update.css' %}" />
{% endblock extra_head %}

{% block main_content %}
<div class="container grid flex-1-1">
    <section class="flex-column-left delete-case">
        <h2>Delete Playlist: "{{ playlist.title }}"</h2>
        <p>Are you sure you want to delete this Playlist?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="edit-btn">Confirm Delete</button>
        </form>
    </section>
    <section class="navigation flex-column-stretch">
        <h2 class="hidden">Navigation</h2>
        <div>
            <a href="{% url 'playlist_created' playlist.id %}" class="navigation-btn back-dark color-red"
                aria-label="go to the playlist view">Back to the Playlist View</a>
        </div>
        <div>
            <a href="{% url 'playlist_manage' %}" class="navigation-btn back-dark color-red"
                aria-label="back to the profile page">Back To Your Playlists</a>
        </div>
    </section>
</div>
{% endblock %}