{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}FanHub Item Update{% endblock %}

{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'user_profile/css/playlist_update.css' %}" />
{% endblock extra_head %}

{% block main_content %}

<div class="container flex-1-1">
    <h2>Update Item in <span class="playlist-title">"{{ playlist.title }}"</span>"</h2>
    <div>
        <section class="form-edit">
            <h3 class="hidden">Update Item</h3>
            <form method="post" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                <div class="flex">
                    <div class="field-block">
                        {% for field in form %}
                        <p>{{ field.errors }}</p>
                        <p>{{ field.label_tag }}</p>
                        {{ field }}
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="field-block">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="button edit-btn">Save Changes</button>
            </form>
        </section>
        <section class="navigation flex-column">
            <h3 class="hidden">Navigation</h3>
            <div>
                <a href="{% url 'playlist_created' playlist.id %}" class="navigation-btn back-dark color-red"
                    aria-label="back to the playlist view"><strong>Back to the Playlist View</strong></a>
            </div>
            <div>
                <a href="{% url 'playlist_manage' %}" class="navigation-btn back-dark color-red"
                    aria-label="back to the playlists"><strong>Back To Your Playlists</strong></a>
            </div>
            <div>
                <a href="{% url 'delete_playlist_item' playlist_id=playlist.id pk=item.id %}"
                    class="navigation-btn back-red color-white" aria-label="delete item">Delete Item</a>
            </div>
        </section>
    </div>
</div>
{% endblock %}