* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/wallpaper_fan_hub.png) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Utilities */
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-start {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}

.flex-column {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.back-red {
    background-color: red;
}

.back-dark {
    background-color: rgb(29, 33, 36);
}

.back-white {
    background-color: white;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.hidden {
    display: none;
}

.border-red {
    border: 4px solid red;
}

.border-white {
    border: 6px solid rgba(255, 255, 255, 0.686);
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 6px 6px #000000; 
    box-shadow: 0px 0px 6px 6px #000000;
}

.shadow-white {
    -webkit-box-shadow: 0px 0px 3px 3px #ffffff71; 
    box-shadow: inset 0px 0px 3px 3px #ffffff7f;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px 30px;
}

/* Contents */
body {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    /* position: sticky; */
    top: 0;
    padding: 20px 50px 20px 50px;
    background-color: #000000b2;
}

header > p {
    grid-column: 3 / 4;
    font-size: 125%;
}

#logo-block {
    justify-self: start;
    display: flex;
}

#logo-block > p {
    font-size: 100%;
    align-self: flex-end;
    text-decoration: overline;
}


#logo-picture {
    max-width: 100px;
}

#logo-picture img {
    width: 100%;
}

.messages {
    color: white;
    font-size: large;
    text-align: center;
    background-color: black;
    padding: 10px;
}

.container {
    margin: 20px auto;
    width: 95vw;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
}  

.navbar {
    grid-column: 4 / span 2;
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 125%;
    gap: 50px;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
    text-decoration: overline;
    color: red
}

a {
    text-decoration: none;
    color: red;
    display: inline-block;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#username {
    font-size: 120%;
    color: whitesmoke;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
    text-transform: capitalize;
}

.navigation-btn {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 3px #000000; 
    box-shadow: 0px 0px 13px 3px #000000;
}

.navigation-btn:hover {
    background-color: black;
}