* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/wallpaper_fan_hub.png) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: antiquewhite;
}

.container {
    margin: 50px auto;
    width: 90vw;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
}   

.home-menu {
    margin: 50px auto;
    max-width: 300px;
    width: 80vw;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(47, 46, 46);
}

.nav-container {
    /* display: flex;
    justify-content: space-between; */
    margin: 30px 30px;
    font-size: 150%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: red;
}

.nav-item {
    padding: 10px; 
}

.profile-section {
    margin-bottom: 20px;
}

.edit-btn {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
