* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    color: antiquewhite;
}

.container {
    margin: 50px auto;
    width: 50%;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background-color:black;
    text-align: center;
}   

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: red;
}

.nav-item {
    padding: 10px; 
}