{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/css/core_styles.css' %}" />
{% endblock extra_head %}

{% block main_content %}

<div class="core-main grid-blog">
    <aside class="core-menu">
        <a href="{% url 'profile' %}" class="nav-item nav-link">Edit Profile And Manage Your Playlists</a>
    </aside>
    <section class="core-hero">
        <h1>Home Page</h1>
        <p>Create different styles and texts</p>
    </section>
    <section class="fanhub-blog">
        <h2 class="hidden">Content</h2>
        {% for post in playlist_posts %}
        <p>Playlist: {{ post.playlist.title }} | posted on: {{ post.created_on }}</p>
        {% endfor %}
    </section> 
</div>

{% endblock %}