{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block extra_head %}
<!-- Custom CSS for core application playlist_post_detail.html -->
<link rel="stylesheet" href="{% static 'core/css/core_styles.css' %}" />
{% endblock extra_head %}

{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="grid-post-detail flex-evenly container flex-1-1">

    <section class="playlist-description flex-column-left">
        <h2>Playlist Details:</h2>
        <h3>"{{ playlist_post.playlist.title }}" shared by &nbsp; &nbsp;
            <span>
                {% if "default_avatar" in author_profile.avatar.url %}
                <a href="{% url 'user_profile_presentation'  author_profile.user.username %}"
                    aria-label="link to the {{ author_profile.user.username }}'s page" id="playlist-author-avatar">
                    <img src="{% static 'images/nobody.jpg' %}" alt="default avatar">
                </a>
                {% else %}
                <a href="{% url 'user_profile_presentation'  author_profile.user.username %}"
                    aria-label="link to the {{ author_profile.user.username }}'s page" id="playlist-author-avatar">
                    <img src="{{ author_profile.avatar.url }}" alt="{{ author_profile.user.username }}'s avatar">
                </a>
                {% endif %}
            </span>
            <span id="palylist-author-name">
                <a href="{% url 'user_profile_presentation'  author_profile.user.username %}"
                    aria-label="link to the {{ author_profile.user.username }}'s page">{{ author_profile.user.username }}</a>
            </span>
        </h3>
        <article class="flex-column-left">
            {% if playlist_post.playlist.featured_image %}
            <div class="featured-image">
                <img src="{{ playlist_post.playlist.featured_image.url }}" alt="'{{playlist_post.playlist.title }}' featured image">
            </div>
            {% else %}
            <p>No Featured image provided by Author</p>
            {% endif %}
            <div class="playlist-description">
                <p>Description:</p>
                <div class="text-description shadow-white padding-20">
                    {{ playlist_post.playlist.description | linebreaks }}</div>
            </div>
            {% if playlist_post.playlist.reference_url %}
            <a href="{{ playlist_post.playlist.reference_url }}"
                aria-label="url reference featuring playlist main message" target="_blank">🔗 The Author has provided
                this link for your reference (opens in a new window)</a>
            {% endif %}
            <p>Created on: {{ playlist_post.created_on }}</p>

            <p>Total Comments: {{ comment_count }}</p>
        </article>

        <div class="flex-start">
            <form action="{% url 'like_view' playlist_post.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="likes 
                {% if liked %}
                back-red
                {% else %}
                back-transparent
                {% endif %}">&#129311;&#127995;</button>
            </form>
            <p>{{ playlist_post.total_likes }} likes</p>
        </div>
    </section>

    <section class="playlist-items-container box-shadow back-dark padding-20">
        <h2>Songs or other Items in this Playlist:</h2>
        <ul class="flex-column-left">
            {% for item in playlist_items %}
            <li>
                {{ item }} Performance Type: {{ item.get_performance_type_display }}
                <input type="checkbox" id="nav-toggle-{{ forloop.counter }}" class="nav-toggle hidden"
                    name="nav-toggle">
                <label for="nav-toggle-{{ forloop.counter }}" class="nav-toggle--label"><i
                        class="fa-solid fa-bars"></i></label>
                <article class="playlist-item pop-down flex-column-left">
                    <div>
                        <p>Artist/Author:</p>
                        <p>{{ item.artist }}</p>
                    </div>
                    <div>
                        {% if item.album %}
                        <p>Album:</p>
                        <p>{{ item.album }}</p>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.song_url %}
                        <a href="{{ item.song_url }}" aria-label="link reference to the song" target="_blank">🔗 Follow
                            this
                            link provided by the Playlist's Author</a>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.song_audio %}
                        <p>Song Audio:</p>
                        <audio id="audio-example" controls>
                            <source src="{{ item.song_audio.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.song_tabs %}
                        <p>Song Docs (song tabs/notation or other useful stuff):</p>
                        <a href="{{ item.song_tabs.url }}" download target="_blank" rel="noopener noreferrer"
                            aria-label="link to the song docs file">🔗 Preview doc file here and download if you
                            need</a>
                        {% endif %}
                    </div>
                    <div>
                        {% if item.performance_year %}
                        <p>Performed in:</p>
                        <p>{{ item.performance_year }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <p>The song category:</p>
                        <p>{{ item.get_performance_type_display }}</p>
                    </div>
                    <div>
                        {% if item.song_comments %}
                        <p>The Playlist's Author comments on the song:</p>
                        <p>{{ item.song_comments | linebreaks }}</p>
                        {% endif %}
                    </div>
                </article>
            </li>

            {% endfor %}
        </ul>
    </section>

</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<section class="playlist-comment container">
    <h2>Comments:</h2>
    <div class="flex-evenly">
        <div class="flex-column-left">
            {% for comment in comments %}
            <div>
                <p class="label-for-comments"><strong>{{ comment.author }}</strong> made a comment {{ comment.created_on|timesince }} ago:</p>
                <div class="flex-start-end">
                    <div id="comment{{ comment.id }}" class="comment-content shadow-white">
                        {{ comment.content | linebreaks }}
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn-edit btn-form" data-comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn-delete btn-form back-red color-white"
                        data-comment_id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div>
                <div class="flex-start">
                    <form action="{% url 'like_comment' playlist_post.slug comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="likes-comment 
                        {% if comment.is_liked_by_user %}
                        back-red
                        {% else %}
                        back-transparent
                        {% endif %}">&#129311;&#127995;</button>
                    </form>
                    <p>{{ comment.total_likes_comment }} likes</p>
                </div>
            </div>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <div class="comment-form-container box-shadow back-dark padding-20 flex-column-left">
            <div>
                <h3 id="formTitle">Add a Comment</h3>
                <p><small>(drag bottom-right corner of the window to resize)</small></p>
            </div>
            <form id="commentForm" method="post" class="add-comment-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button id="submitButton" type="submit" class="btn-form">
                    Submit
                </button>
            </form>
            <a href="{% url 'playlist_post_detail' playlist_post.slug %}" id="discardChanges" class="hidden">Discard
                Changes</a>
        </div>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
    </div>
</section>

<div id="modalCommentDelete" class="modal">
    <div class="modal-content">
        <p class="close">&times;</p>
        <h2>Are you sure you want to delete this comment?</h2>
        <a href="#" id="deleteConfirm" class="back-red color-white" aria-label="confirm delete">Confirm Delete</a>
    </div>
</div>

{% endblock main_content %}

{% block bottom %}
<script src="{% static 'js/item-detail-toggle.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}