{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}FanHub {{ user.username }}'s Profile{% endblock %}
{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'user_profile/css/profile.css' %}" />
{% endblock extra_head %}

{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container flex-column-stretch flex-1-1">
    <section class="flex-around">
        <div class="flex-column">
            <h2>{{ profile_user.username }}'s Profile</h2>
            <div class="avatar-profile-page">
                {% if "default_avatar" in user_profile.avatar.url %}
                <img src="{% static 'images/nobody.jpg' %}" alt="default avatar">
                {% else %}
                <img src="{{ user_profile.avatar.url }}" alt="{{ profile_user.username }}'s avatar">
                {% endif %}
            </div>
        </div>
        <div class="presentation-profile-info">
            <div class="profile-section">
                <h3>Email:</h3>
                <p>{{ profile_user.email }}</p>
            </div>

            <div class="profile-section">
                <h3>Name:</h3>
                <p>{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
            </div>

            <div class="profile-section">
                <h3>Date of Birth</h3>
                <p>{{ user_profile.date_of_birth }}</p>
            </div>
        </div>
        <div id="about-myself-presentation" class="profile-section">
            <h3>About Myself</h3>
            {{ user_profile.about_myself | safe }}
        </div>
    </section>

    <section class="playlist-card flex-column-left padding-20">
        <h2><span>{{ profile_user.username }}'s</span> Playlists&#8287;&#8202;&#8287;&#8202;&#127928;</h2>
        <div id="author-playlist-presentation">
            {% for item in playlist_with_posts %}
            <article class="article-playlist-presentation">
                <h3 class="hidden">Playlist info</h3>
                <a href="{% url 'playlist_post_detail' item.playlist_post_slug %}"
                    aria-label="go to {{ item.playlist.title }}">
                    <span>&#119070;</span>&#8287;&#8287;
                    {{ item.playlist.title }}
                </a>
                {{ item.playlist.description | linebreaks }}
                <p><b>♪</b> Last update: {{ item.playlist.updated_on }}</p>
            </article>
            {% empty %}
            <p>No playlists found.</p>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock main_content %}