html {
    background: url(../../images/hero_banner_slipknot.png) no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: antiquewhite;
    font-family: system-ui, sans-serif;
}

.wrapper {
    padding: 50px 10px 10px clamp(20px, 9vw, 200px);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: red;
    display: inline-block;
}

a:hover {
    color: white;
    text-decoration: underline;
}

header {
    top: 0;
    padding: 20px 50px 20px 50px;
    background-color: #000000b2;
}


#hello-user {
    grid-column: 3 / 4;
    font-size: clamp(1rem, 1.3vw, 1.4rem);
}

#username {
    font-size: 120%;
    color: whitesmoke;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
    text-transform: capitalize;
}

.auth-menu {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

}

.nav {
    grid-column: 4 / span 2;
    justify-self: end;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: clamp(1rem, 1.3vw, 1.4rem);
    gap: 50px;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
    text-decoration: overline;
    color: red
}

.menu-icon {
    display: none;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

#logo-block {
    justify-self: start;
    a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
    }
}


#logo-block p {
    margin: 0;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    align-self: flex-end;
    text-decoration: overline;
    color: white !important;
}


#logo-picture {
    max-width: 100px;
}

#logo-picture img {
    width: 100%;
}

form {
    label {
        display: block;
    }
    label[for="id_remember"] {
        display: inline;
    }
    input {
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        width: 300px;
        font-size: large;
    }
    #id_remember {
        width: 40px;
    }
    p {
        padding-bottom: 10px;
    }
    button {
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        font-size: large;
    }
}

form li {
    padding: 6px 0;
}

p {
    max-width: 80ch;
}

.hidden {
    display: none;
}


/* Media Queries */
@media (max-width: 1020px) {
    .menu-icon {
        display: block;
        font-size: 250%;
    }
    .menu-icon:hover,
    .menu-icon:focus,
    .menu-icon:active {
        color: red;
        cursor: pointer;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 83px;
        right: 0;
        width: 80%;
        padding: 20px 30px;
        background-color: #000000c6;
        z-index: 1;
    }
    .header-menu {
        flex-direction: column;
        gap: 25px;  
    }
    .menu-toggle:checked + .menu-icon + .navbar {
        display: block;
    }

    .nav-item {
        padding: 10px 0;
    }
    .nav-item:hover {
        background-color: black;
    }

}

@media (max-width: 560px) {
    form ul {
        padding-left: 0;
    }
    form input {
        max-width: 90%;
    }

}