@counter-style treble-clef {
    system: cyclic;
    symbols: "\1D11E"; /* Unicode for the treble clef symbol */
    suffix: "  "; /* Add a space after the symbol */
}

#treble-sign-html {
    font-size: 1.7em;
    color: white
}

.image-container {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    aspect-ratio: initial;
    -webkit-box-shadow: 0px 0px 13px 12px #000000; 
    box-shadow: 0px 0px 13px 12px #000000;
}

.container--inner {
    max-width: 500px;
    margin: auto;
}

.navigation,
.form-edit {
    font-size: large;
    padding: 20px;
}

/* Styling forms */
.form-edit {
    justify-self: stretch;
    background-color: black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 3px #000000; 
    box-shadow: 0px 0px 13px 3px #000000;
    text-align: left;

    .form-control {
        padding: 10px;
        display: flex;
        flex-direction: column; 
        gap: 20px;   
    }

    input,
    textarea,
    select,
    button {
        padding: 10px;
        border-radius: 7px;
        font-size: medium;
    }

    input,
    textarea {
        width: 100%;
    }

    button {
        background-color: rgb(46, 53, 59);
        color: white;
        border: none;
        cursor: pointer;
        align-self: center;
        font-size: large;
    }

    .field-block > p {
        margin-bottom: 5px;
    }

    #id_featured_image {
        font-size: medium;
        padding: 0;
    }

}

.playlist-card {
    background-color: rgb(46, 53, 59);
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 3px #000000; 
    box-shadow: 0px 0px 13px 3px #000000;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    div,
    ul {
        text-align: left;
        max-width: 80ch;
        list-style-position: inside;
    }
    ul li {
        list-style-type: treble-clef;
        padding-bottom: 10px;
    }
    ul li::marker {
        font-size: 1.7em;
    }
    h3 {
        color: red;
    }
}

.navigation {
    div {
        align-self: stretch;
    }
}

.caption {
    max-width: 40ch;
    text-align: left;
}

