/* profile.html specific styles */
#about-myself {
    grid-row: span 2;
    grid-column: span 2;
}

#about-myself-presentation {
    justify-content: flex-start;
}

.profile-section {
    padding: 20px 20px 20px 40px;
    max-width: 50ch;
    text-align: left;
    justify-self: start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.profile-section > h3 {
    font-size: 130%;
    color: red;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
}

#playlists {
    width: 100%;
    margin-top: 20px;
    letter-spacing: 2px;
    grid-column: 1 / -1;
    grid-row: span 2;

    & :last-child {
        align-self: center;
    }
}

.avatar-profile-page {
    max-width: 100px;
    margin-inline: auto;
    box-shadow: -2px 5px 21px 18px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: -2px 5px 21px 18px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -2px 5px 21px 18px rgba(0, 0, 0, 0.78);
}

.avatar-profile-page > img {
    width: 100%;
}

#modal-form {
    & button {
        margin-inline: auto;
        margin-top: 20px;
    }
}

#form-fields input {
    padding: 5px;
    border-radius: 5px;
    font-size: var(--fs-400);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#form-fields label {
    display: block;
    margin-inline: auto;
    margin-bottom: 5px;
}

#modal-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

#form-fields p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

#form-fields input {
    margin-inline: auto;
}

#author-playlist-presentation {
    & article {
        padding-bottom: 20px;
    }
    & a {
        padding-bottom: 10px;
        font-size: var(--fs-400);
        font-weight: 500;
    }
    & a > span {
        font-size: 150%;
        text-shadow: 3px 1px 0px rgba(0, 0, 0, 1);
    
    }
}

/* Media queries */
@media (max-width: 850px) {

    #profile-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #playlists {
        grid-column: span 2;
    }
}

@media (max-width: 550px) {
    #profile-container {
        grid-template-columns: 1fr;
    }

    .profile-section {
        padding: 20px;
        max-width: 40ch;
        background-color: rgba(0, 0, 0, 0.459);
        border-radius: 10px;
        justify-self: stretch;
        -webkit-box-shadow: 0px 0px 6px 6px #000000;
        box-shadow: 0px 0px 6px 6px #000000;
    }

    #playlists {
        grid-column: span 1;
        grid-row: span 5;
        font-size: var(--fs-400);

        & a {
            text-align: center;
        }

        padding: 10px;

    }

    .presentation-profile-info {
        width: 100%;
    }

    #about-myself {
        grid-column: span 1;
        grid-row: span 2;
        width: 100%;
    }
}