{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Slipknot Fan Hub{% endblock %}</title>   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header class="grid-header">
        <div id="logo-block">
            <div id="logo-picture">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/slipknot-logo-transparent.png' %}" alt="Slipknot Fan Hub">
                </a>
            </div>
            <p>FanHub</p>
        </div>
        {% block navbar %}
        This is a placeholder for navbar
        {% endblock %}
    </header>
    
    {% block main_content %}Main content{% endblock %}
    {% block bottom %}Scripts and other bottom things{% endblock %}
    
</body>
</html>