{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Slipknot Fan Hub{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_io/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'images/favicon_io/android-chrome-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="512x512"
        href="{% static 'images/favicon_io/android-chrome-512x512.png' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header class="grid-header">
        <div id="logo-block">
            <a href="{% url 'home' %}">
                <div id="logo-picture">
                    <img src="{% static 'images/slipknot-logo-transparent.png' %}" alt="Slipknot Fan Hub">
                </div>
                <p>FanHub</p>
            </a>
        </div>
        {% block navbar %}

        {% if not user.is_authenticated %}
        {% include 'core/navbar-signup.html' %}
        {% else %}
        {% include 'core/navbar-signed.html' %}
        {% endif %}

        {% endblock %}
    </header>

    {% block main_content %}{% endblock %}
    {% block footer %}
    <footer class="footer-social">
        <h2 class="hidden">Links to social media</h2>
        <div class="social-media">
            <ul class="flex-end">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new tab)">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://x.com/" target="_blank" rel="noopener"
                        aria-label="Visit our X page (opens in a new tab)">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Youtube page (opens in a new tab)">
                        <i class="fa-brands fa-square-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in a new tab)">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    {% endblock %}

    <!--Fontawesome kit-->
    <script src="https://kit.fontawesome.com/e0f7937b3c.js" crossorigin="anonymous"></script>

    {% block bottom %}{% endblock %}
</body>
</html>