{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}About FanHub{% endblock %}
{% block extra_head %}
<!-- Custom CSS for user_profile application profile.html -->
<link rel="stylesheet" href="{% static 'core/css/core_styles.css' %}" />
{% endblock extra_head %}

{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="container flex-1-1">
    <Section id="fanhub-presentation" class="grid">
        <div>
            <h2>FanHub Round and About</h2>
            <div id="fanhub-profile-image">
                {% if "placeholder" in moderator.profile_image.url %}
                <img src="{% static 'images/slipknot-logo-transparent.png' %}" alt="default fanhub image">
                {% else %}
                <img src="{{ moderator.profile_image.url }}" alt="FanHub featured weekly image">
                {% endif %}
            </div>
            <div class="policy-quidelines">{{ moderator.about | safe }}</div>
        </div>
        <div>{{ moderator.content | safe }}</div>
    </Section>
</div>

{% endblock main_content %}
