* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/wallpaper_fan_hub.png) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Utility classes */
.input-padding {
    padding: 10px;
}

body {
    color: antiquewhite;
}

.container {
    margin: 50px auto;
    width: 90vw;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}   

.home-menu {
    margin: 50px auto;
    max-width: 300px;
    width: 80vw;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(47, 46, 46);
}

.nav-container {
    margin: 30px 30px;
    font-size: 150%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: red;
}

.nav-item {
    padding: 10px; 
}

.profile-section {
    margin-bottom: 20px;
    padding: 20px;
}

.avatar-profile-page {
    max-width: 300px;
    margin-inline: auto;
}

.avatar-profile-page > img {
    width: 100%;
}

.edit-btn {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

.modal-content {
    background-color: black;
    margin: 40% auto;
    padding: 20px;
    border: 4px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: -2px 5px 21px 18px rgba(0,0,0,0.78);
    -webkit-box-shadow: -2px 5px 21px 18px rgba(0,0,0,0.78);
    -moz-box-shadow: -2px 5px 21px 18px rgba(0,0,0,0.78);
}

#form-fields label {
    display: block;
    margin-inline: auto;
    margin-bottom: 5px;
}

#modal-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}


#form-fields p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

#form-fields input {
    margin-inline: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}